<html>
<!-- Very basic HTML index, with some fields that will be filled by Ansible -->
    <head>
    <title>Welcome to ansible</title> </head>
    <body>
    <h1>nginx, configured by Ansible</h1>
    <p>If you can see this, Ansible successfully installed nginx.</p>
    <p>{{ ansible_managed }}</p> <!--replaced by "Ansible managed" -->
    <p>Some facts Ansible gathered about this machine:
    <table>
        <tr><td>OS family:</td><td>{{ ansible_os_family }}</td></tr> <!--replaced by the os' family, ex : "Debian" -->
        <tr><td>Distribution:</td><td>{{ ansible_distribution }}</td></tr> <!--replaced by the os' exact distribution, ex : "Debian" -->
        <tr><td>Distribution version:</td><td>{{ ansible_distribution_version }}</td></tr> <!--replaced by the os' version, ex : "11" -->
    </table>
    </p>
    </body>
</html>
